<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <h1 class="logo">
                        <img src="img/logo.png" />
                        <span class="logo-text">Marija</span>
                    </h1>

                    <div class="header-content-inner">
                        <h1 class="tagline">Big data visualization through graphs</h1>
                        <a href="https://demo.marija.io" class="btn btn-outline btn-xl page-scroll">Try the demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
