
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-globe text-primary"></i>
                                    <h3>Web based</h3>
                                    <p class="text-muted">Runs right in your browser. No installation needed.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Open source</h3>
                                    <p class="text-muted">Commercial license. Find us on <a href="github.com/dutchcoders/marija">github</a> to contribute.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-like text-primary"></i>
                                    <h3>Easy to use</h3>
                                    <p class="text-muted">Much easier than competing products.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-energy text-primary"></i>
                                    <h3>Datasources</h3>
                                    <p class="text-muted">Search through multiple datasources and combine the results.
                                        Includes Elasticsearch, Splunk, Blockchain &amp; Twitter.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
